<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Hurry Up, Goku !</title>

        <link rel="stylesheet" th:href="@{/style.css}">
        <link rel="icon" type="image/png" th:href="@{/Data/logo.png}">

        <script th:src="@{/JavaScript/access.js}" type="text/javascript"></script>
    </head>

    <script type="text/javascript">
        access('end');
    </script>

    <body>

        <div class="center">
            <div class="nameForm">
                <div th:text="${game.events.getAllEvents().get(T(com.main.hackatonjr.EventTypeName).STORY).size() > 0 ? 'Game Over' : 'You survived'}" class="username end"></div>
                <a href="/restart" class="button auto">New Game</a>
            </div>
        </div>
    </body>
</html>