<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HackatonJr 2025</title>
        <link rel="stylesheet" th:href="@{/style.css}">
        
        <!-- <script th:src="@{/js/game.js}"></script> -->
    </head>

    <body>
        <div class="center">
            <form method="post" action="/name" class="nameForm">
                <input type="text" name="name" id="name" class="username" placeholder="Username" maxlength="10" required>
                <div id="number" class="number">0 / 10</div>
            </form>
        </div>

        <script type="text/javascript">
            function numberOfCaracters(){
                var input = document.getElementById("name");
                var number = document.getElementById("number");
                var max = number.textContent.split('/')[1].trim();

                number.textContent = input.value.length + " / " + max;
            }

            var input = document.getElementById("name");
            input.addEventListener("input", numberOfCaracters);
        </script>
    </body>
</html>