<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HackatonJr 2025</title>
        <link rel="stylesheet" th:href="@{/style.css}">

        <script th:src="@{/JavaScript/access.js}" type="text/javascript"></script>
        <script th:src="@{/JavaScript/count.js}" type="text/javascript"></script>
    </head>

    <script type="text/javascript">
        access('index');
    </script>

    <body>
        <div class="center">
            <form method="post" action="/name" class="nameForm">
                <input type="text" name="name" id="name" class="username" placeholder="Username" maxlength="10" required>
                <div id="number" class="number">0 / 10</div>
            </form>
        </div>

        <script type="text/javascript">
            document.getElementById("name").addEventListener("input", numberOfCaracters);
            window.addEventListener("load", numberOfCaracters);
        </script>
    </body>
</html>