<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HackatonJr 2025</title>
        <link rel="stylesheet" th:href="@{/style.css}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

        <!-- <script th:src="@{/js/game.js}"></script> -->
    </head>

    <body>
        <div class="container">
            <div class="infos">
                <div class="section">Informations</div>
                <div class="paragraph">
                    <div th:text="${game.user.name}"></div>
                    <div class="stats">
                        <div id="money"> <span th:text="${game.user.money}"></span> zénis </div>
                        <div id="hunger"> Hunger : <span th:text="${game.user.hunger}"></span> % </div>
                    </div>
                    <div class="stats">
                        <div class="underline">Outfit</div>
                        <div> Head : <span id="head" th:text="${game.user.outfit.head != null ? game.user.outfit.head.name : 'None'}"></span> </div>
                        <div> Top : <span id="top" th:text="${game.user.outfit.top != null ? game.user.outfit.top.name : 'None'}"></span> </div>
                        <div> Bottom : <span id="bottom" th:text="${game.user.outfit.bottom != null ? game.user.outfit.bottom.name : 'None'}"></span> </div>
                    </div>
                    <div class="stats">
                        <div class="underline">Current location</div>
                        <div id="current"> <span th:text="${game.user.getCurrentLocation().name}"></span></div>
                    </div>
                    <div class="stats">
                        <div class="underline">Vehicle</div>
                        <div id="vehicle"> <span th:text="${game.user.vehicle != null ? game.user.vehicle.name : 'None'}"></span></div>
                    </div>
                    <div class="buttons">
                        <button name="button" id="inventoryButton" class="button" onclick="show('inventory')"><i class="fa-solid fa-toolbox"></i></button>
                        <button name="button" id="shopButton" class="button" onclick="show('shop')"><i class="fa-solid fa-cart-shopping"></i></button>
                        <button name="button" id="mapButton" class="disabled" disabled onclick="show('map')"><i class="fa-solid fa-map-location-dot"></i></button>
                    </div>
                </div>

            </div>

            <div name="display" id="shop" class="game hidden">
                <div class="section all">Shop</div>
                <ul>
                    <li th:each="stockable: ${game.shop.stock}" class="stockable" th:data-extra="${stockable.price}" th:id="|stockable_${stockable.id}|" th:onclick="|select('stockable_${stockable.id}')|"> 
                        <img th:src="@{/Data/namek.jpg}">

                        <span th:text="${stockable.name}"></span>
                    </li>
                </ul>

                <button id="pay" class="pay" onclick="pay()">Pay 0 zénis</button>
                <div id="error" hidden>You don't have enough money to buy the items !</div>
            </div>

            <div name="display" id="inventory" class="game hidden">
                <div class="section all">Inventory</div>
                <ul id="inventoryList">
                    <li th:each="stockable: ${game.user.inventory}" class="stockable2" th:id="|stockable_${stockable.id}|"> 
                        <img th:src="@{/Data/namek.jpg}">

                        <div class="container2">
                            <span th:text="${stockable.name}"></span>
                            <button th:class="${(game.user.vehicle != null && stockable.id == game.user.vehicle.id) || (game.user.outfit.top != null && stockable.id == game.user.outfit.top.id) || (game.user.outfit.head != null && stockable.id == game.user.outfit.head.id) || (game.user.outfit.bottom != null && stockable.id == game.user.outfit.bottom.id) ? 'equiped' : 'equip'}" th:onclick="|equip('stockable_${stockable.id}')|" th:attr="data-extra=${game.type(stockable)}"> <span th:text="${(game.user.vehicle != null && stockable.id == game.user.vehicle.id) || (game.user.outfit.top != null && stockable.id == game.user.outfit.top.id) || (game.user.outfit.head != null && stockable.id == game.user.outfit.head.id) || (game.user.outfit.bottom != null && stockable.id == game.user.outfit.bottom.id) ? 'Equiped' : 'Equip'}"></span> </button>
                        </div>

                        
                    </li>
                    
                </ul>
                <div id="errorEquip" hidden>You couldn't equip the item !</div>
            </div>

            <div name="display" id="map" class="game">
                <div class="section all">Map</div>
                <ul>
                    <li th:each="location: ${game.map.locations}" th:class="|location ${game.user.getCurrentLocation() != location && game.user.vehicle != null && game.map.shortestPath(game.user.getCurrentLocation(),location,game.user.vehicle.type) != null ? 'green' : ''} ${location.condemned ? 'red' : ''}|" th:id="|location_${location.id}|" th:onclick="|move('location_${location.id}')|">
                        <img th:src="@{/Data/namek.jpg}">
                        <button th:if="${location == game.user.getCurrentLocation()}" class="here"><i class="fa-solid fa-location-dot"></i></button>
                        <span th:text="${location.name}"></span>
                    </li>
                </ul>

                <div id="showMoneyHunger" hidden></div>
                <div id="errorLocation" hidden>You can't go there !</div>
                <div id="errorLocation2" hidden>You will die of hunger if you go there !</div>
            </div>

            <div id="eventAttributs" class="hidden" data-extra="">
                <div id="eventName" class="section"></div>
                <div id="eventDescription"></div>
            </div>

            <div id="timer" class="hidden" data-extra="">
                <div id="time" class="section"></div>
            </div>
        </div>

        <script type="text/javascript">
            function updatePrice(){
                var elements = document.getElementsByClassName("selected");
                var price = 0;

                for(var i = 0; i < elements.length; i++){
                    price += parseFloat(elements[i].dataset.extra);
                }

                var button = document.getElementById("pay");
                button.textContent = "Pay " + price + " zénis";
            }

            function select(idStockable){
                var element = document.getElementById(idStockable);
                if(element.classList.contains("selected")){
                    element.classList.remove("selected");
                }
                else{
                    element.classList.add("selected");
                }
                updatePrice();
            }

            async function pay(){
                var stockableIds = "";
                var elements = document.getElementsByClassName("stockable");
                var money = document.getElementById("money");
                var price = 0;

                var inventorySize = document.getElementsByClassName("stockable2").length;

                for(var i = 0; i < elements.length; i++){
                    if(elements[i].classList.contains("selected")){
                        price += parseFloat(elements[i].dataset.extra);
                        if(i == elements.length - 1){
                            stockableIds += i;
                        }
                        else{
                            stockableIds += i + "_";
                        }
                    }
                }

                document.getElementById("error").hidden = true;

                if(stockableIds == ""){
                    return ;
                }

                if(price > parseFloat(money.textContent)){
                    document.getElementById("error").hidden = false;
                    return;
                }

                try {
                    const response = await fetch('/pay',{
                        method: 'POST',
                        headers: {
                            'Content-type': 'text/plain;charset=UTF-8',
                        },
                        body: stockableIds
                    });

                    if (!response.ok) {
                        throw new Error(`HTTP ${response.status}`);
                    }

                    const user = await response.json();

                    if(user.name == null){
                        document.getElementById("error").hidden = false;
                        return ;
                    }

                    for(var i = elements.length - 1; i >= 0; i--){
                        if(elements[i].classList.contains("selected")){
                            if(i > 2){
                                elements[i].remove();
                            }
                            else{
                                elements[i].classList.remove("selected");
                            }
                        }
                    }

                    for(var i = inventorySize; i < user.inventory.length; i++){
                        var item = document.createElement("li");
                        item.classList.add("stockable2");
                        item.id = "stockable_" + user.inventory[i].id;
                        item.innerHTML = `
                            <img src="/Data/namek.jpg"> 
                            <div class="container2"> 
                                <span>${user.inventory[i].name}</span> 
                                <button class="equip" onclick="equip('stockable_${user.inventory[i].id}')" data-extra=""> 
                                    <span>Equip</span> 
                                </button> 
                            </div>`;
                        document.getElementById("inventoryList").appendChild(item);
                    }

                    updatePrice();

                    var moneyElement = document.getElementById("money");
                    moneyElement.textContent = user.money + " zénis";

                } catch (e) {
                    console.error(e);
                }

            }

            async function equip(id){
                var stockableId = "";
                var elements = document.getElementsByClassName("stockable2");

                for(var i = 0; i < elements.length; i++){
                    if(id == elements[i].id){
                        stockableId = i;
                        break;
                    }
                }

                document.getElementById("errorEquip").hidden = true;

                try{
                    const response = await fetch('/equip',{
                        method: 'POST',
                        headers: {
                            'Content-type': 'text/plain;charset=UTF-8',
                        },
                        body: String(stockableId)
                    });

                    if (!response.ok) {
                        throw new Error(`HTTP ${response.status}`);
                    }

                    const message = await response.text();

                    if(message == "-1"){
                        document.getElementById("errorEquip").hidden = false;
                        return ;
                    }

                    var type = message.split('_')[0];

                    var element = document.getElementById(id);

                    if(type == "Food"){
                        document.getElementById("hunger").textContent = "Hunger : " + message.split('_')[1] + " %";
                        element.remove();
                    }
                    else{
                        var lower = type.toLowerCase();
                        document.getElementById(lower).textContent = message.split('_')[1];
                        var buttons = document.getElementsByClassName("equiped");

                        for(var i = 0; i < buttons.length; i++){
                            if(buttons[i].dataset.extra == lower){
                                buttons[i].textContent = "Equip";
                                buttons[i].disabled = false;
                                buttons[i].dataset.extra = "";
                                buttons[i].classList.add("equip");
                                buttons[i].classList.remove("equiped");
                            }
                        }

                        var button = element.querySelector("button");

                        button.textContent = "Equiped";
                        button.dataset.extra = lower;
                        button.disabled = true;
                        button.classList.add("equiped");
                        button.classList.remove("equip");

                        if(type == "Vehicle"){
                            updateLocations();
                        }
                        
                    }

                } catch (e) {
                    console.error(e);
                }
            }

            function show(id){
                var element = document.getElementById(id);
                var elementButton = document.getElementById(id + "Button");

                var display = document.getElementsByName("display");
                var buttons = document.getElementsByName("button");

                for(var i = 0; i < display.length; i++){
                    if(!display[i].classList.contains("hidden")){
                        display[i].classList.add("hidden");
                    }
                }

                for(var i = 0; i < buttons.length; i++){
                    if(buttons[i].disabled){
                        buttons[i].disabled = false;
                        buttons[i].classList.remove("disabled");
                        buttons[i].classList.add("button");
                    }
                }

                element.classList.remove("hidden");
                elementButton.disabled = true;
                elementButton.classList.add("disabled");
                elementButton.classList.remove("button");
            }

            async function updateLocations(){
                var elements = document.getElementsByClassName("location");

                try{
                    const response = await fetch('/locations',{
                        method: 'GET'
                    })

                    if (!response.ok) {
                        throw new Error(`HTTP ${response.status}`);
                    }

                    const locations = await response.json();

                    for(var i = 0; i < elements.length; i++){
                        if(elements[i].classList.contains("green")){
                            elements[i].classList.remove("green");
                        }
                    }

                    if(locations[0] == "-1"){
                        return ;
                    }

                    for(var i = 0; i < locations.length; i++){
                        var location = document.getElementById("location_" + locations[i]);
                        location.classList.add("green");
                    }

                } catch(e) {
                    console.error(e);
                }
            }

            async function move(id){
                var element = document.getElementById(id);
                var elements = document.getElementsByClassName("location");

                document.getElementById("errorLocation").hidden = true;
                document.getElementById("errorLocation2").hidden = true;
                document.getElementById("showMoneyHunger").hidden = true;

                if(element.classList.contains("red") || !element.classList.contains("green")){
                    document.getElementById("errorLocation").hidden = false;
                    return;
                }

                for(var i = 0; i < elements.length; i++){
                    if(elements[i].id == id){
                        var numberLocation = i;
                    }
                }

                try{
                    const response = await fetch('/move',{
                        method: 'POST',
                        headers: {
                            'Content-type': 'text/plain;charset=UTF-8',
                        },
                        body: String(numberLocation)
                    })

                    if (!response.ok) {
                        throw new Error(`HTTP ${response.status}`);
                    }

                    const user = await response.json();

                    if(user.name == null){
                        document.getElementById("errorLocation2").hidden = false;
                        return ;
                    }

                    var oldMoney = parseFloat(document.getElementById("money").textContent);
                    var oldHunger = parseInt(document.getElementById("hunger").textContent.split(' ')[2]);

                    document.getElementById("money").textContent = Number(user.money).toFixed(1) + " zénis";
                    document.getElementById("hunger").textContent = "Hunger : " + user.hunger + " %";
                    document.getElementById("current").textContent = user.currentLocation.name;

                    var here = document.getElementsByClassName("here")[0];

                    element.insertBefore(here,element.querySelector("span"));

                    element.classList.remove("green");

                    var money = parseFloat(user.money) - oldMoney;
                    var hunger = parseInt(user.hunger) - oldHunger;

                    document.getElementById("showMoneyHunger").textContent = "+ " + money + " zénis | Hunger rate : + " + hunger + " %";
                    document.getElementById("showMoneyHunger").hidden = false;

                    updateLocations();

                } catch(e) {
                    console.error(e);
                }
            }

            async function end(value){
                try {
                    const response = await fetch('/endGame',{
                        method: 'GET'
                    });

                    if (!response.ok) {
                        throw new Error(`HTTP ${response.status}`);
                    }

                    const end = await response.json();

                    if(end){
                        window.location.href = "/end";
                    }

                } catch(e) {
                    console.error(e);
                }
            }

            async function triggerEvent(event){

                try {
                    const response = await fetch('/triggerEvent',{
                        method: 'GET'
                    });

                    if (!response.ok) {
                        throw new Error(`HTTP ${response.status}`);
                    }

                    const user = await response.json();

                    

                    if(event.type == 'BONUS' || event.type == 'MALLUS'){
                        document.getElementById("money").textContent = user.money + " zénis";
                    }
                    else if(event.type == 'ATTACK'){
                        end(1);
                        document.getElementById("vehicle").textContent = (user.vehicle != null ? user.vehicle.name : 'None');
                        document.getElementById("head").textContent = (user.outfit.head != null ? user.outfit.head.name : 'None');
                        document.getElementById("top").textContent = (user.outfit.top != null ? user.outfit.top.name : 'None');
                        document.getElementById("bottom").textContent = (user.outfit.bottom != null ? user.outfit.bottom.name : 'None');

                        var inventory = document.getElementsByClassName("stockable2");

                        for(var i = inventory.length - 1; i >= 0; i--){
                            var verify = false;

                            for(var j = 0; j < user.inventory.length; j++){
                                if(inventory[i].id == "stockable_" + user.inventory[j].id){
                                    verify = true;
                                }
                            }

                            if(!verify){
                                inventory[i].remove();
                            }
                        }

                    }
                    else if(event.type == 'DANGER'){
                        end(1);
                        for(var i = 0; i < event.targeLocations.length; i++){
                            var element = document.getElementById("location_" + event.targeLocations[i].id);
                            if(element.classList.contains("green")){
                                element.classList.remove("green");
                            }
                            element.classList.add("red");
                            element.classList.remove("target");
                        }
                        updateLocations();
                    }
                    else if(event.type == 'STORY'){
                        end(0);
                    }

                    document.getElementById("eventAttributs").dataset.extra = "";
                    document.getElementById("timer").classList.add("hidden");
                    document.getElementById("timer").classList.remove("timer");
                    

                } catch(e) {
                    console.error(e);
                }
            }

            function hideEvent(){
                document.getElementById("eventAttributs").hidden = false;
                document.getElementById("eventAttributs").classList.add("hidden");
                document.getElementById("eventAttributs").classList.remove("event");
            }

            setInterval(event,10000);

            function reduceTimer(){
                var time = document.getElementById("time");
                time.textContent = parseInt(time.textContent) - 1;
            }

            async function event(){
                var eventElement = document.getElementById("eventAttributs");

                if(eventElement.dataset.extra == "progress"){
                    return ;
                }

                try {
                    const response = await fetch('/event',{
                        method: 'GET'
                    });

                    if (!response.ok) {
                        throw new Error(`HTTP ${response.status}`);
                    }

                    const event = await response.json();

                    document.getElementById("eventName").textContent = event.type;
                    document.getElementById("eventDescription").textContent = event.description;
                    document.getElementById("eventAttributs").hidden = false;
                    document.getElementById("eventAttributs").classList.remove("hidden");
                    document.getElementById("eventAttributs").classList.add("event");

                    eventElement.dataset.extra = "progress";

                    setTimeout(hideEvent,3000);

                    if(event.triggerTimeSec != 0){
                        event.triggerTimeSec = 15;
                        setTimeout(() => triggerEvent(event), event.triggerTimeSec * 1000);
                        var timer = document.getElementById("timer");
                        timer.classList.remove("hidden");
                        timer.classList.add("timer");
                        document.getElementById("time").textContent = event.triggerTimeSec;
                        var interval = setInterval(reduceTimer,1000);
                        setTimeout(() => clearInterval(interval), event.triggerTimeSec * 1000);

                        for(var i = 0; i < event.targeLocations.length; i++){
                            var element = document.getElementById("location_" + event.targeLocations[i].id);
                            element.classList.add("target");
                        }
                    }
                    else if(event.type == 'STORY'){
                        setTimeout(() => triggerEvent(event), 2000);
                    }
                    else{
                        triggerEvent(event);
                    }

                    

                } catch(e) {
                    console.error(e);
                }
            }
        </script>

    </body>
</html>